<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>404</title>
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-12 col-12 main_header_left align-items-center">
                <figure>
                    <img src="img/404.gif" alt="">
                </figure>
                <p>Welcome to weather app</p>
                <h1>{{error}}</h1>
                <a href="/">
                    <button class="shadow">Go Back</button>
                </a>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>