<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Welcome to Home</title>
</head>

<body>
   {{>navbar}}
   
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>Get The Latest <span>Weather</span> Info Of Your City</h1>
                        <a href="/weather"><button class="shadow">Check now</button></a>
                    </div>
                   
                    <div class="col-md-6 col-12 main_header_right">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="img/bg6.gif" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="img/bg2.gif" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="img/bg4.gif" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    {{>footer}}
</body>
</html>