<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Weather App</title>
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main_header mt-3">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto bot">
                <div class="main_content">
                    <form action="" class="temp_form">
                        <input type="text" id="cityname" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="search" id="submitbtn">
                    </form>
                </div>
                <div class="tempinfo">
                    <div class="top_layer">
                        <p id="day">Tuesday</p>
                        <p id="today_date">13 OCT</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get Output Here</p>
                        <div class="middle_layer">
                            <p><span id="temp">0</span><sup>o</sup>C</p>
                            <p id="temp_status"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
    <script src="/js/main.js"></script>
</body>

</html>